<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--读写器Mac地址-->
    <add key="IpAddress" value="speedwayr-11-8A-6E.local"/>
    <!--轮询时间（毫秒）-->
    <add key="Interval" value="3000"/>
    <!--socket通信地址-->
    <add key="SocketAddress" value="127.0.0.1"/>
    <!--socket端口-->
    <add key="SocketPort" value="50000"/>
  </appSettings>
</configuration>